/* form */

.background-body{
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.background-form{
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    animation: showLeft 1.5s;
    z-index: 2;

}
.background-form a{
    color: #000;
}

@keyframes showLeft {

from {top:-100%;}

to {top:0;}

}

@keyframes showRight {

from {right:-100%;}

to {right:0; }

}
.form-logo{
    padding: 50px 0 50px 0;
    text-align: center;
}
.form_two{
    transition: 0.3s ease-in;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    text-align: center
}
.form-register{
    padding: 40px 15px;
}
.form-register__text_two{
    font-size: 15px;
    line-height: 24px;
}
.form-register__mail-two{   
    padding-top: 16px;
    padding-bottom: 5px;
}
.form-register__checkbox{
    left: -142px
}

.checkbox__label_two::before{
    background: #565656a6;
}
.checkbox__label_two::after{
    position: absolute;
    top: 3px;
    left: -34px;
}
.input_two{
    background: #565656a6;
    width: 325px;
    height: 15px;
}
.input_two:focus {
    color: #fff;
}
.account__a_two a{
    color: #fff;
}
.input__submit_two{
    background: #FF7143;
    color: #000;
    height: 55px;
    width: 360px;
    padding: 14px;
}
.google-btn{
    height: 55px;
    width: 360px;
    background: #000 url(../img/google.svg) 24% 50% no-repeat;
    background-size: 10% 50%;
    border: 2px solid #565656a6;
    color: #fff;
    border-radius: 6px;
    margin-top: 10px;
    
}
.google-btn:hover{
    background: #565656a6 url(../img/google.svg) 24% 50% no-repeat;
    transition: 0.2s ease-in;  
    background-size: 10% 50%;
}
.back-btn{
    margin: 30px 0 0 15px;
    background: #FF7143;
    border: 0;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 84px;
    height: 33px;
    animation: back 3s;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes back {

    from {left:-100%;}
    
    to {left:0;}
    
    }
@media (max-width: 380px){    
    .form-register{
        padding: 0;
    }
    .back-btn{
        margin: 15px 0 0 15px;
    }

}
@media (max-width: 400px){
    .input_two{
        width: 250px;
        text-align: center;
        padding: 15px 0;
    }
    .input__submit_two{
        width: 250px;
    }
    .google-btn{
        width: 250px;
    }
    .form-register__title{
        font-size: 27px;
    }
    .form-logo{
        padding: 50px 0 15px 0;
    }
    .form-register__checkbox{
        left: -86px;
    }
    .google-btn{
        background: #000 url(../img/google.svg) 14% 50% no-repeat;
        background-size: 10% 50%;
    }
}
