@import "./reset.css"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

/* font-family: 'Roboto', sans-serif; */

html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
button{
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    border: 0;
}
button:hover{
    opacity: 0.8;
}
button:active{
    position: relative;
    top:1px;
}
a{
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}
a:hover{
    opacity: 0.8;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

/* nav */
.header-top{
    background-color: #000;
    min-height: 81px;
}
.nav-row{
    color: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    /* column-gap: 142px; */
}
.nav-row a{
    color: #fff;
}
.logo{
    padding: 21px 32px 21px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.16);
}
.nav-central{
    display: flex;
    /* justify-content: space-between; */
    max-width: 790px;
    padding: 0 42px 0 32px;
    column-gap: 320px;
}
.nav-list {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.mail{
    padding: 8px 15px 8px 8px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    font-size: 16px;
}
.sign-up{
    width: 312px;
    height: 81px;
    border-left: 1px solid rgba(255, 255, 255, 0.16);
    display: flex;
    align-items: center;
    column-gap: 26px;
    justify-content: space-between;
    padding-left: 37px;
    float: right;
    /* margin-left: 321px; */
}
.sign-up__link{
    width: 96px;
}
.sign-up__btn{
    height: 51px;
    width: 238px;
    border-radius: 6px;
    background-color:#FF7143;
    font-weight: 700;
    font-size: 16px;
    border: 0;
}

/* header */

.header__container{
    min-height: 732px;
    background-color: #FF7143;
    overflow: hidden;
}

.header__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.header__text{
    max-width: 556px;
    padding: 91px 0 0 38px;
    text-align: center;
}
.header__text *{
    color: #000;
}
.header__title{
    font-size: 72px;
    font-weight: 700;
}
.header__content-one{
    font-size: 18px;
    padding-top: 29px;
    line-height: 26px;
}
.header__buttons {
    display: flex;
    justify-content: center;
    row-gap: 8px;
    padding-top: 22px;
    line-height: 24px;
}
.header__white-btn, .header__black-btn {
    padding: 22px 35px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
    outline: 0;
    border: 0;
}
.header__black-btn {
    margin-right: 8px;
    background-color: #000;
    color: #fff;
}
.stars-img{
    padding-top: 160px;
}
.header__content-two{
    padding-top: 17px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.header__span{
    padding-top: 14px;
    line-height: 24px;
}
.header__rated{
    font-size: 17px;
}
.header__views{
    font-size: 15px;
    color: #00000099;
}
.header__img{
    position: relative;
}
.header__img img{
    
    position: absolute;
    bottom: -15.6%;
    right: 0;
    max-width: unset;
}
.about{
    padding-top: 80px;
    display: flex;
    column-gap: 71px;
    flex-wrap: wrap;
    row-gap: 15px;
}
.about h3{
    position: relative;
    top: 5px;
    padding-bottom: 17px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.about p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.about__block{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}
.druk__img img{
    width: 100%;
}
.druk{
    margin-top: 80px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.druk__content{
    padding: 100px 170px 0 130px;
    width: 576px;
    text-align: center;
}
.druk__text{
    padding-top: 37px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}
.druk__autor{
    padding-top: 41px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.druk-copyright{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.druk__btn-container{
    display: flex;
    column-gap: 6px;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 29px;
}
.druk__btn{   
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 0;
}
.druk__btn_right {
    background-color: rgba(255, 255, 255, 0.4);
}

/* landing-pages */

.page-title{
    padding-top: 99px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.page-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(372px, 416px));
    gap: 16px; 
}
.grid-block{
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 6px;
}
.grid-block__img{
    background-color: #000;
    padding: 40px 40px 0 40px;
    border: 0;
}
.grid-block__img img{
    position: relative;
    top: 3px;
} 
.grid-block__title{
    box-shadow: 0px 8px 8px rgba(16, 19, 80, 0.12);
    padding: 21px 0 24px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.page-title__other{
    padding-top: 79px;
}
/* form */

.form-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #FF7143;
    min-height: 615px;
    padding: 60px 60px 0 107px;
    margin-bottom: 59px;
    flex-wrap: wrap;
}
.form-content{
    max-width: 479px;
    text-align: center;
}
.form-content__title{
    padding-top: 24px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
}
.stars-img__two{
    padding-top: 77px;
}
.form-register{
    padding: 40px;
    min-width: 360px;
    height: 474px;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
}
.form_one{
    background: #fff;
}
.form-register__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}
.form-register__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.form-register_mail{   
    padding-top: 40px;
    padding-bottom: 5px;
}
.input{
    padding: 20px 0 20px 37px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 0;   
    font-weight: 400;
    line-height: 24px;
    color: #AAAAAA;
}
.input_one{
    background: rgba(0, 0, 0, 0.05);
    width: 325px;
    height: 24px;
}
.input__mail{
    font-size: 16px;
}
.form-register_password{
    padding: 16px 0 4px 0;
}
.input__password{
    font-size: 20px;
}
.form-register__submit{
    padding-top: 56px;
}
.input__submit{
    padding: 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 360px;   
    border-radius: 6px;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.input__submit_one{
    background-color: #000;
    height: 64px;
}
.input__submit:hover{
    opacity: 0.8;
}
.input__submit:active{
    position: relative;
    top:1px;
}
.form-register__account{
    padding-top: 16px;
    text-align: center;
}
.account__a{
    background-color: #fff;
    border: 0;
    color: #FF7143;
}

/* checkbox */

.form-register__checkbox{
    position: relative;
    padding-top: 33px;
}
.checkbox{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.checkbox__label{
    position: absolute;
    cursor: pointer;
}
.checkbox__label_one{
    left: 40px;
}
.checkbox__label::before{
    content: "";
    display: block;
    width: 24px;
    height: 24px; 
    box-shadow: 0px 1px 3px rgba(14, 38, 86, 0.12);
    border-radius: 6px;  
    position: absolute;
    top: 0;
    left: -37px;
    z-index: 1;      
}
.checkbox__label_one::before{
    background: rgba(0, 0, 0, 0.05);
}
.checkbox__label::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/main/checkbox.svg) no-repeat;
    background-size: 18px 18px ;  
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s linear;
}
.checkbox__label_one::after{
    position: absolute;
    top: 5px;
    left: -32px;
}
.checkbox:checked + .checkbox__label_one::before{
    border: 2px solid #000;
}
.checkbox:checked + .checkbox__label::after{
    opacity: 1;
}


/* footer */

.footer{
    background-color: #000;
    min-height: 270px;
    padding-top: 64px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);;
    min-height: 187px;
}
.footer__logo{
    padding-top: 6px;
}
.footer__nav-list{
    padding-top: 79px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.footer__nav-list a{
    color: #fff;
}
.footer__btn{
    width: 185px;
    padding: 12px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: 0;
    border-radius: 6px;
}
.footer__social{
    display: flex;
    justify-content: end;
    column-gap: 8px;
    padding-top: 64px;
}
.footer__social-block{
    width: 46px;
    height: 46px;
    border: 1px solid rgba(0, 0, 0, 0.16);
}
.insta-block{
   background: rgba(255, 255, 255, 0.1) url(../img/footer/instagram.png) center no-repeat;
}
.twitter-block{
    background: rgba(255, 255, 255, 0.1) url(../img/footer/twitter.png) center no-repeat;
}
.facebook-block{
    background: rgba(255, 255, 255, 0.1) url(../img/footer/facebook.png) center no-repeat;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 30px;
    flex-wrap: wrap;
    column-gap: 100px;
}
.copyright-links{
    display: flex;
    justify-content: start;
}
.copyright-links a{
    color: #FF7143;
    padding-left: 9px;
}
.webflow{
    padding: 0 11px 0 9px;
}
.footer__contact a{
    padding-right: 7px;
    color: #fff;
}

/* Menu Icon */
.nav__toggle{
    background: #000;
}
.menu-icon-wrapper {
    /*   background: red; */
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .menu-icon {
      position: relative;
      width: 30px;
      height: 5px;
      background-color: #FF7143;
    }
    
    .menu-icon::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #FF7143;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon::after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #FF7143;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon.menu-icon-active {
      background-color: transparent;
    }
    
    .menu-icon.menu-icon-active::before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    
    .menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    .nav__toggle{
        display: none;
        position: absolute;
        right: 40px;
        top: 20px;
    }
/* mobile-menu */
.mobile-menu{
        background: #000;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        animation: showLeft 1.5s;
        overflow: hidden;
        padding-left: 0 !important;
    }    
    @keyframes showLeft {
    
    from {top:-100%;}
    
    to {top:0;}
    
    }
    
    @keyframes showRight {
    
    from {right:-100%;}
    
    to {right:0; }
    }
.logo_mobile{
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 150%;
        padding: 0;
    }
.nav-central_mobile{
        position: absolute;
        top: 300%;
        font-size: 40px;
        font-weight: 450;
        padding: 74px 0 !important;
        justify-content: center;
        width: 100% !important;
    }
.nav-list_mobile {
        flex-direction: column;
        row-gap: 60px;
        align-items: end;
    }
.sign-up_mobile{
    padding: 5px;
    border-radius: 6px;
    max-width: 206px;
    height: 41px;
    margin-top: 15px;
    font-weight: 600;
    position: relative;
    top: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 2px solid #565656a6;
}

/* media */

@media (max-width: 1333px){
    .footer{
        padding: 64px 15px 0 15px;
    }
    .druk__content{
        padding: 90px 120px 0 80px;
    }
    .nav-central{
        column-gap: 250px;
    }
    .header-top{
        padding-left:15px;
    }
}
@media (max-width: 1259px){
    .about{
        padding: 30px 0 0 30px;
    }
    .nav-central{
        column-gap: 200px;
    }
}
@media (max-width: 1156px){
    .nav-central{
        column-gap: 150px;
    }
}
@media (max-width: 1142px){
    nav{
        z-index: -1;
    }
    .no-scroll {
		overflow-y: hidden;
	}
    .logo{
        border: 0;
    }
    .mail{
        display: none;
    }
    .form-container{
        padding: 40px 20px 0 20px;
        margin-top: 10px;
    }
    .form-content__title{
        font-size: 40px;
    }
} 
@media (max-width: 1065px){
    .header__text{
        padding: 91px 0 0 0;
    }

}
@media (max-width: 1042px){
  
    .header__text{
        max-width: 487px;
    }
    .header__title{
        font-size: 60px;
        font-weight: 600;
    }
    .header__content-one {
        font-size: 16px;
    }
    .header__content-two {
        font-size: 16px;
        font-weight: 600;
    }
    .druk{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
        margin-top: 40px;
        }
    .druk__content{
        padding: 50px 0 0 0;
        }
}
@media (max-width: 1039px){
    .header__img img {
        bottom: -18%;
    }

}
@media (max-width: 1005px){
    .form-container{
        justify-content: center;
        object-fit: contain;
        margin-bottom: 0;
    }
}
@media (max-width: 933px){
    .header__img img {
        position: relative;
        bottom: -5%;
        object-fit: cover;
        }
    .header__main {
        justify-content: center;
         }
    
}
@media (max-width: 893px){
    .page-grid{
        grid-template-columns: none;
        justify-items: center;
    }
    .page-title{
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
}
@media (max-width: 858px){
    .nav-list{
        z-index: -1;
    }
    .nav__toggle{
        display: block;
    }
    .sign-up{
        z-index: -1;
        padding: 0;
    }
    .sign-up__btn{
        display: none;
    }
}
@media (max-width: 814px){

    .druk__text{
        font-size: 30px;
    }
    .form-register{
    text-align: center;
    }
}
@media (max-width: 626px){
    .nav__toggle{
        display: block;
    }
    .nav-central{
        padding: 0;
        width: 0;
    }
    .header__text{
        padding: 40px 15px 0 15px;
    }
    .page-title{
        padding-top: 35px;
    }
    .footer{
        padding: 40px 15px 0 15px;
    }
    .sign-up__link {
        text-align: center;
    }

}
@media (max-width: 553px){
    .footer-bottom{
        justify-content: center;
        padding-bottom: 40px;
        column-gap: 400px;
    }
}
@media (max-width: 523px){
    .footer-top{
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 200px;
    }
    .footer__nav-list{
        flex-direction: column;
        row-gap: 15px;
        padding: 40px 0;
    }
    .footer__social{
        padding: 40px 0;
        justify-content: center;
    }
    .copyright-links {
        padding-bottom: 20px;
        flex-direction: column;
        row-gap: 10px;
        font-size: 14px;
    }
    .copyright-links a{
        padding: 0;

    }
    .webflow{
        padding: 0;
    }
 

}

@media (max-width: 504px){
    .header__buttons{
        flex-wrap: wrap;
    }
    .stars-img{
        margin-top: 64px;
        padding-top: 0;
    }
    .input_one{
        width: 250px;
    }
    .input__submit{
        width: 250px;
    }
    .checkbox__label_one{
    
        left: 76px;
    }
}
@media (max-width: 416px){
    .grid-block__img{
        padding: 0 20px;
    }

}
@media (max-width: 375px){
    .druk__img{
        width: 375px;
        object-fit: contain;
    }
    .form-register{
        padding: 40px 14px;
    }
}
